#logo{
    overflow-x: hidden;
    h1{
       padding:30px 0;
    }  
}
#dl{
    overflow-x: hidden;
    position:relative;
    .shuru{
        background-color:#fff;
        width: 400px;
        height: 350px;
        position:absolute;
        right:80px;
        top:55px;
        padding:30px 30px 0 30px;
        p{
            margin-bottom:38px;
            width: 160px;
            font-size:16px;
        }
        .mian{
            width: 120px;
            color: #3d86f4;
            font-size:16px;
            margin-bottom: 38px;
        }
        .shuru_s{
                li{
                    padding-bottom:20px;
                }
                input{
                    width: 340px;
                    height: 40px;
                    border:1px solid #ddd;
                    padding-left:10px;
                }
            
        }
        .shuru_kon{
                width: 350px;
                height: 30px;
                margin-bottom:10px;
            }
        .san{
            padding-top:8px;
            border-top:1px solid #ddd;
            a{padding-left:26px;}
        }
    }
}
