#main{
    .main_t{
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        height: 58px;
        line-height:58px;
        .qty{
            padding-right:30px;
        }
        .splb{
            padding-top:60px;
            li{
                margin:10px;
                float:left;
                width:385px;
                h3{padding-left:24px;}
                h4{padding-left:24px;}
                .main_sp_button{
                    
                    .xj{
                        padding-left:20px;
                        width: 71px;
                        height: 62px;
                        line-height:44px;
                        color:#f90;font-size:20px
                    }
                    .yj{
                        padding-left:40px;
                     
                        .yj_1{
                            color:#ddd;
                            font-size:16px;
                        }
                        .yj_2{color:#fd81c1;font-size:12px;}
                    }
                    .main-btn{
                            margin-left:20px;
                            width: 124px;
                            height: 61px;
                            background-color:#fd81c1;
                            color:#fff;
                            font-size:20px;
                        }
                }
                
            }
            
            li:hover{
               
                box-shadow: 10px 10px 5px #888888;
            }
        }
    }
}