#main .main_t {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 58px;
  line-height: 58px;
}

#main .main_t .qty {
  padding-right: 30px;
}

#main .main_t .splb {
  padding-top: 60px;
}

#main .main_t .splb li {
  margin: 10px;
  float: left;
  width: 385px;
}

#main .main_t .splb li h3 {
  padding-left: 24px;
}

#main .main_t .splb li h4 {
  padding-left: 24px;
}

#main .main_t .splb li .main_sp_button .xj {
  padding-left: 20px;
  width: 71px;
  height: 62px;
  line-height: 44px;
  color: #f90;
  font-size: 20px;
}

#main .main_t .splb li .main_sp_button .yj {
  padding-left: 40px;
}

#main .main_t .splb li .main_sp_button .yj .yj_1 {
  color: #ddd;
  font-size: 16px;
}

#main .main_t .splb li .main_sp_button .yj .yj_2 {
  color: #fd81c1;
  font-size: 12px;
}

#main .main_t .splb li .main_sp_button .main-btn {
  margin-left: 20px;
  width: 124px;
  height: 61px;
  background-color: #fd81c1;
  color: #fff;
  font-size: 20px;
}

#main .main_t .splb li:hover {
  box-shadow: 10px 10px 5px #888888;
}

#main .main_t .page span {
  display: inline-block;
  margin: 5px;
  width: 40px;
  line-height: 1.8;
  text-align: center;
  background-color: #dfdfdf;
  color: #666;
}

#main .main_t .page span.active {
  background-color: #fc0;
  color: #fff;
}
